{% if page.teams %}
{% assign tiers=site.data.[page.teams] %}
    <div class="columns is-multiline">
        {% for tier in tiers %}
        <div class="column is-12">
            <p class="title is-3 has-text-centered">
                <span>{{ tier.tier_name }}</span>
            </p>
            <div class="columns is-centered">
                <div class="column is-6 content has-text-centered">
                    <p>{{ tier.description | markdownify }}</p>
                </div>
            </div>

            <div class="columns is-multiline is-centered">
                {% for team in tier.teams %}
                <div class="column {% if tier.size == 'large' %} is-4-desktop is-6-tablet {% else %} is-3-desktop is-4-tablet {% endif %}">
                    <div class="box has-text-centered is-centered">

                        <p class="title {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">
                            {{ team.name }}
                        </p>

                        <p class="subtitle is-6">
                            {% if team.description %}
                            <p class="is-small"> {{ team.description }}</p>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </p>

                        {% if team.image %}
                        &nbsp;
                        <figure class="image container is-128x128">
                            <img class="is-rounded" src="./{{ team.image }}">
                        </figure>
                        {% endif %}

                        {% if team.email %}
                        <p class="subtitle is-6">
                            <p class="is-small"> {{ team.email }}</p>
                        </p>
                        {% endif %}
                        

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-12">
            <hr />
        </div>
        {% endfor %}
    </div>
{% endif %}